/* src/App.css */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #333; /* Dark grey background */
}

.App {
  text-align: center;
  background-color: #333; /* Dark grey background */
  min-height: 100vh;
  width: 100%; /* Full width */
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: rgba(204, 85, 0, 0.8); /* Burnt orange with opacity */
  padding: 20px;
  color: white;
  width: 100%;
}

.app-footer {
  background-color: rgba(204, 85, 0, 0.8); /* Burnt orange with opacity */
  padding: 10px;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}
