/* HabitCell.css */

.habit-cell {
    cursor: pointer;
    position: relative;
    background-color: #333; /* Default background color */
  }
  
  .habit-cell.white {
    background-color: #333;
  }
  
  .habit-cell.red {
    background-color: #8B0000; /* Darker red */
    color: white; /* Ensure text is visible on red background */
  }
  
  .habit-cell.yellow {
    background-color: #999900; /* Even darker yellow */
    color: black; /* Ensure text is visible on yellow background */
  }
  
  .habit-cell.green {
    background-color: #006400; /* Darker green */
    color: white; /* Ensure text is visible on green background */
  }
  
  .habit-cell.grey {
    background-color: grey;
    color: black; /* Ensure text is visible on grey background */
  }
  
  .habit-label {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 12px;
    font-weight: bold;
    color: white;
  }
  
  .habit-points {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    font-weight: bold;
    color: white;
  }
  