/* src/HabitTracker.css */

.habit-tracker {
  padding: 20px;
  color: white; /* Ensure text color contrasts with dark background */
  width: 100%; /* Full width */
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #444; /* Slightly lighter grey for headers */
  color: white;
}

td {
  background-color: #555; /* Slightly lighter grey for table cells */
  color: white;
}

.goal-reached {
  background-color: green;
  color: white;
}

.habit-name {
  cursor: pointer;
}

.habit-cell.white {
  background-color: white;
  color: black;
}

.habit-cell.red {
  background-color: darkred;
  color: white;
}

.habit-cell.yellow {
  background-color: darkgoldenrod;
  color: black;
}

.habit-cell.green {
  background-color: darkgreen;
  color: white;
}

.habit-cell.grey {
  background-color: grey;
  color: white;
}

.habit-points {
  font-size: 0.75em;
  position: absolute;
  top: 2px;
  left: 2px;
}

.habit-label {
  font-size: 0.75em;
  position: absolute;
  bottom: 2px;
  right: 2px;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: #444; /* Dark background */
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: white; /* White text color */
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.habit-details-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit-details-header {
  background-color: rgba(204, 85, 0, 0.8); /* Burnt orange with opacity */
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.habit-details-title {
  margin: 0;
}

.habit-details-description,
.habit-details-section {
  margin-bottom: 20px;
  width: 100%;
}

.habit-details-level,
.habit-details-day {
  margin-bottom: 10px;
}

.modal-button {
  background-color: rgba(204, 85, 0, 0.8); /* Burnt orange */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: rgba(204, 85, 0, 1);
}
